@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif
}

form{
   align-items: center;
   justify-content: center;
   display: grid;
}

input[type=text], input[type=password] {
    /* width: 0%; */
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
 a {
     color: #f1f1f1;
     text-decoration: none;
  }
   a:hover {
     color: white;
     text-decoration: none;

  }
  /* Add a background color when the inputs get focus */
  input[type=text]:focus, input[type=password]:focus{
    background-color: #ddd;
    outline: none;
  }
.flex{
display: flex;
justify-content: center;
}
p{
   margin-left: 5px;
}
  .agree{
      text-align: center;
  }
input{
    /* width: 50%; */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit]{
    background-color: #04AA6D;
    color: white;
    width: 10%;
}

#message{
    display: none;
    background-color: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p{
    padding: 10px 35px;
    font-size: 18px;
}

.valid{
    color: green;
}

.valid:before{
    position: relative;
    left: -35px;
    content: "&#10006;";
}















* {
    box-sizing: border-box;
 }
 html, body {
    margin: 0;
    padding: 0;
 }
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
 }
 main {
    flex: 1 0 auto;
 }
 footer {
    color: #fff;
    background: #333;
    position: relative; /* required to position the copyright at the bottom */
    font-size: 80%;
 }
 .footer-copyright {
    width: 100%;
    height: 40px;
    background: #111;
    /* positions the copyright at the bottom of the footer */
    padding: 10px;
    position: absolute;
    bottom: 0px;
    left: 0px;
 }
 .footer-body {
    margin-bottom: 40px;
 }
 /* the clearfix hack */
 .footer-body::after {
    content: "";
    display: block;
    clear: both;
 }
 /* float the divs */
 .footer-body > div {
    float: left;
    padding: 20px;
 }
 /* sets the width of the first column */
 .footer-body > div:first-child {
    font-size: 150%;
    width: 35%;
    text-align: center;
 }
 /* sets the width of the second column */
 .footer-body > div:last-child {
    width: 65%;
 }
 .footer-body ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
 }
 .footer-body li > a {
    color: white;
    text-decoration: none;
    margin-bottom: 7px;
 }



 .footer-body a:hover{
    color:rgb(77, 51, 221);
    border:red;

}
.footer-body a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background:red;
    transition: 2s;
    bottom: 0;

}
.footer-body a:hover:after{
width: 100%;
 }

















